# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
*.Rproj
*.RData
*.rds

# RStudio files
.Rproj.user/
.Ruserdata

# image directories
/img

# old material
/00_old

# other files
.Rbuildignore
gitCommands.txt


